/*!

 * Copyright 2017 The Susmote Authors

 * Contens under MET (https://github.com/susmote/GeekAR/blob/master/css/aboutcss.css)

*/
body {

  padding-top: 4rem;

  padding-bottom: 3rem;

  color:#000000;

  overflow-x:hidden;

}
.page-bg {
    background: url(../images/aboutbg.png);
    width: auto;
    height: 160px;
}
.vcenter {
    text-align: center;
    padding-left: 33%;
    display: inline-block;
}
.vcenter::before {
    content: '';
    display: inline-block;
    margin: 0 0 0 -.25em;
    height: 100%;
    vertical-align: middle;
}
.page-bg .page-title {
	color:#FFFCFC;
    text-align: center;
    margin-top: 40px;
}
.page-bg .page-title  h1{
	font-size: 28px;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "GeekAR";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}


hr.style-nine {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-nine:after {
    content:"技术声明";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.style-ten {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-ten:after {
    content:"友情链接";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.thanks{
	width:100%;
	padding-left: 25px;
	height:60px;
}

/*github图标

===========================*/

.github{

	color:rgba(198,203,209,1.00);

}

.github:hover{

	color:rgba(149,157,165,1.00);	

}