/*!
 * Copyright 2017 The Susmote Authors
 * Contens under MET (https://github.com/susmote/GeekAR/blob/master/css/mallcss.css)
*/
body {
  padding-top: 6rem;
  padding-bottom: 3rem;
  color:#000000;
  overflow-x:hidden;
}
.main-search{
	width: 600px;
}
.main-search input{
	border: 2px rgba(255,0,54,1.00) solid;
	width: 500px;
	height: 50px;
}
.main-search input:focus{
	outline: none;
	border: 3px rgba(255,0,54,1.00) solid;
	width: 500px;
	height: 50px;
}
.main-search button{
	width: 100px;
	height: 50px;
}
.center {
 	margin-left: auto;
 	margin-right: auto;
}
li { list-style: none; }
.menu { 
	width: 1000px; 
	height: 345px; 
	margin: 30px auto; 
	background-color: #ececec; 
}
.menu .menuTop {
	background-color: #F10215; 
	color: #fff; 
	width: 140px; 
	height: 40px; 
	padding-left: 20px; 
	line-height: 40px; 
	cursor: pointer; 
}
.menu ul {
	width: 160px; 
	background-color: #fff; 
	border: 2px solid #F10215; 
	box-sizing: border-box;
	position: relative; 
}
.menu ul li {
	height: 30px; 
	padding-left: 8px; 
	text-align: left; 
	line-height: 30px; 
	font-size: 13px; 
	background: url(image/1.png) no-repeat right; z-index: 2; 
}
.menu ul li a {
	color: #7070770; 
}
.menu ul li a:hover {
	color: red; 
	text-decoration: underline; 
	cursor: pointer; 
}
.menu ul li:hover {
	border: 1px solid #DDD; 
	border-right: 0; 
	background-image: none; }
.menu ul li:hover .submenu {
	display: block; 
}
.menu ul li:hover span { 
	width: 30px; 
	height: 30px; 
	display: inline-block; 
	background-color: #FFF; 
	float: right; 
	z-index: 100; 
	position: relative; 
}
.menu ul li .submenu { 
	position: absolute; 
	left: 146px; 
	top: 0; 
	width: 720px; 
	height: 300px;
	border: 1px solid #DDD;
	box-shadow: 0 0 8px #DDD; 
	-moz-box-shadow: 0 0 8px #DDD;
	-webkit-box-shadow: 0 0 8px #DDD;
	background-color: #FFF; 
	z-index: 3; 
	display: none; }
.menu ul li .submenu .subleft {
	margin-left: 0px;
	width: 400px; 
	height: 300px; 
	float: left; 
	padding: 5px; 
}
.menu ul li .submenu .subleft dl {
	overflow: hidden;
	border-bottom: 1px solid #D1D1D1;
	padding: 10px 0; 
}
.menu ul li .submenu .subleft dl dt { 
	float: left; 
	height: 22px; 
	line-height: 22px;
	margin-right: 10px;
	font-weight: bold;
	color: #707070; 
	font-size: 12px;
	cursor: pointer;
}
.menu ul li .submenu .subleft dl dd {
}
.menu ul li .submenu .subleft dl dd a { 
	display: block; 
	float: left; 
	border-left: 1px solid #707070;
	padding: 0 5px; 
	color: #707070; 
	height: 14px;
	line-height: 14px;
	margin: 3px 0;
	font-size: 11px;
}
.menu ul li .submenu .subright {
	width: 310px; 
	height: 300px; 
	background-color: blue; 
	float: left;
}
/*github图标
===========================*/
.github{
	color:rgba(198,203,209,1.00);
}
.github:hover{
	color:rgba(149,157,165,1.00);	
}

